@{
    ViewBag.Title = "Home Page";
}

<h1>@ViewBag.Message
    </h1>

@model first_task.Models.Class1

@Html.TextBoxFor(m=>m.id);<br><br>
@Html.TextBoxFor(m=>m.name);<br><br>
@Html.TextBoxFor(m=>m.email);



